# Copy to .env before running `docker compose up`

POSTGRES_PASSWORD=Irfan@6331
REDIS_PASSWORD=Irfan@6331
JWT_SECRET=Automationsolution@6331

ASPNETCORE_ENVIRONMENT=Production
RIS_ORIGIN=http://localhost:3000
RIS_API_BASE_URL=http://localhost:8080/api/v1

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=Irfan@6331
